*{

}
body{
		background-color: #fff;
		margin: 0px auto;
}
div#topo {
	background-color: #274e13;
  text-align: center;
	width: 100%;
	height: 140px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.43);
}
.btnlogout{
  width: 59px;
  height: 23px;
  font-size: 15px;
  background-color: #fff;
  border: 2px solid #fff;
  float: right;
  display: inline;
  cursor: pointer;
  margin-left: 6px;
  margin-top: 24px;
  margin-right: 10px;
}

.btnlogout:hover{
	background-color: #C8C8C8;
	border-color: #C8C8C8;
}

.btncorrigir{
	background-color:#F44336; color:white; border:1px solid rgba(0,0,0,0.2);
}
.btncorrigir:hover{
	background-color:#F11707; color:white; border:1px solid rgba(0,0,0,0.2);
}

header h4{
  font-weight: normal;
	float:right;
	display: inline;
	font-size: 15px;
	margin-top: 26px;
  color:#ffffff;
  text-decoration: none;
}
div#topo span {
	position: absolute;
	text-align: center;
	color: #ffffff;
	font-size: 40px;
	line-height: 133px;
	font-family: cursive;
	display: inline;
	left: 358px;
}
div#logo{
  position: absolute;
  left: 140px;
	top: 213px;
}
div#logo1{
	position: absolute;
	float: left;
	top: 9px;
	left: 20px;
	background-color: #FFFFFF;
	width: 91px;
	height: 123px;
	display:inline;
}
div #logo1 img{
  background-color: white;
  box-shadow: 2px 2px 2px 2px rgba(12, 12, 12, 0.45);
  margin-top: 1px;
  margin-left: -2px;
}
div #logo1 img:hover{
  background-color: #C8C8C8;
  border-color: #C8C8C8;
}
#navegacao {
	z-index: 9999;
  margin-top: 15px;
  position: absolute;
  top: 89px;
  left: 321;
  background-color: #fff;
  text-align: initial;
}
#navegacao ul {
	list-style:none;
	position:relative;
	float:left;
	margin:0;
	padding:0
}
#navegacao ul a{
	display: block;
	color: rgba(0, 0, 0, 0.61);
	text-decoration: none;
	font-weight: 700;
	font-size: 15px;
	line-height: 32px;
	padding: 0 15px;
}
#navegacao ul li{
	position:relative;
	float:left;
	margin:0;
	padding:0
}
#navegacao ul li:hover{
  background-color: #C8C8C8;
  border-color: #C8C8C8;
}

#title{
  font-size: 26px;
  font-family: cursive;
  text-align: center;
	padding-top:70px;
}

#controle{
	 height: 490px;
	 overflow: auto;
}
div#conteudo{
	margin: auto;
	background-color: #ffffff;
	width: 85%;
	min-height: 475px;
	margin-top: 15px;

}
.tabela{
		float:left;


}

div#conteudo div#mensagens {
  background-color: rgba(0, 0, 0, 0.02);
  text-align: center;
  color: red;
  width: 234px;
  margin: 0px auto;
  font-size: 13px;
  border: 1px solid rgba(0, 0, 0, 0.18);
  font-size: 17px;
  font-family: monospace;

}
div#conteudo div#mensagens img{
  display: block;
  width:60px;
  height:60px;
  margin:0px auto;
  padding-top: 10px;
}

.fieldsetformulario  {
	width:350px;
	margin: 0px auto;
	font-size:13px;
	border: 4px solid rgb(39, 78, 19);
	background-color: rgba(10, 10, 10, 0.05);
	box-shadow: 3px 3px 4px #888888;
}

.fieldsetformulario table{
	border: 1px solid rgb(39, 78, 19);
	background-color: rgba(10, 10, 10, 0.05);
	border-collapse: collapse;
}
.fieldsetformulario table th{
	color:#ffffff;
	background-color:rgb(39, 78, 19);
}
.fieldsetformulario span{


}
.fieldsettabela {
	font-size:13px;
	border: none;
	background-color: rgba(10, 10, 10, 0.05);
	box-shadow: 1px 1px 1px #888888;
  padding: 2px;
}
.fieldsettabela table {
    border-collapse: collapse;
		border: none;


}
.fieldsettabela table th{
    border-collapse: collapse;
    background-color: #274E13;
		color: white;
		border-color:rgba(245, 234, 234, 0.09);
}

.cores_td{

	background-color: #CCC;

}

div#icon img{
	padding-right: 0px;
	float:right;
}



.retornar {
	background-color: rgba(105, 113, 101, 0.19);
	border: 1px solid darkgrey;
	text-decoration: none;
	color: black;
	padding: 6px;
	position: absolute;
	margin-top: 30px;
	left: 701px;
	top: 357px;
}

.retornar:hover{
	border: 1;
}

footer{
	width: 100%;
	height: 30px;
	background-color: #274E13;
	position: absolute;
	bottom: 0;
	float: left;
	text-align: center;
	font-size: 16px;
	color: #FFFBFB;
	line-height: 30px;
	box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.43);
}
